[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-binance = "*"
motor = "*"
aiokafka = "*"
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.11"
